body {
    height: 100%;
    display: flex;
    align-items: center;
    background-image: url("./images/background.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    --main-text-color: rgb(52, 70, 71);
    --selected-item-color: #f9fcff;
}

#background-opacity {
    position: fixed;
    z-index: -10;
    top: 0; left: 0; right: 0; bottom: 0;
    
    background: radial-gradient(circle, rgba(131,58,180,0.2) 0%, rgba(253,29,29,0.2) 50%, rgba(252,176,69,0.2) 100%); 
    
    /* green blue */
    /* background-image: linear-gradient(to left bottom, #051937c4, #004d7ab0, #008793bd, #00bf73af, #a6eb12cb); */


    /* plain color */
    /* background-image: linear-gradient(to right top, #d16ba5, #cf6fb1, #cb73be, #c678cb, #be7ed7, #d67dd2, #ec7dcb, #ff7ec2, #ff8997, #ffa96b, #ffd34e, #dafb5f); */

    /* Blue heaven */
    /* background: linear-gradient(35deg, rgba(29,87,196,0.819765406162465) 0%, rgba(182,242,255,0.8393732492997199) 20%, rgba(221, 187, 187, 0.789) 100%); */
  }

#main-container {
  background-color: rgba(255, 255, 255, 0.636);
  background: linear-gradient(0deg, rgba(212, 212, 212, 0.636) 0%, rgba(255, 255, 255, 0.436) 50%);
  background-color: rgba(120, 211, 112, 0.836);
  background-color: rgba(230, 220, 227, 0.636);
  margin: auto;
  width: 400px;
  height: 520px;
  border-radius: 4px;
  border-style: none; 
  border-width: 1px;
  border-color:rgb(32, 31, 31);
  box-shadow: 1px 1px 11px 1px rgba(56, 56, 56, 0.171);
}

#screen {
  background-color: rgba(245, 245, 245, 0.06);
  height: 85px;
  width: 85%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--main-text-color);
  border-radius: 1px;
  text-align: right;
  text-overflow: hidden;
  white-space: nowrap;
  overflow: hidden;
}

#secondary-output {
  padding-right: 12px;
  padding-left: 12px;  
  height: 40%;
  font-size: 17px;
  line-height: 30px;
  opacity: 0.7;
}

#main-output {
  padding-right: 12px;
  padding-left: 12px; 
  height: 60%; 
  font-size: 40px;
  line-height: 40px;
}

#keyboard {
  display: grid;
  grid-template-areas:  "AC undo percent op4"
                        "n7 n8 n9  op3" 
                        "n4 n5 n6  op2" 
                        "n1 n2 n3  op1"
                        "n0 n0 sep eq";
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr;  */
  grid-gap: 4px;
  box-sizing: border-box;
  height: 280px;
  width: 85%;
  margin: auto;
  border-width: 1px;
  border-color: grey;
}

.key { 
  background-color: rgba(220, 224, 230, 0.0);
  border-radius: 1px;
  text-align: center;
  line-height: 38px;
  font-size: 20px;
  border-style: none;
  border-color: rgb(54, 54, 54);
  color: var(--main-text-color);
}

.key:active{
   background-color: rgba(233, 233, 233, 0.901);
}

.operator-key {
}

.ac-key {
}
   
.c-key {
}

.key:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.11);
}

.key:focus {
   outline: none;
  }

.key:active {
  background-color: rgba(255, 255, 255, 0.141);
}

#credits {
  margin: auto;
  margin-top: 60px;
  text-align: center;
  font-size: 9.5px;
  color: rgb(97, 97, 97);
  opacity: 0.3;
}

/**************** help panel *****************/
#help {
  position: fixed;
  left: 0px;
  top: 50%;
  transform: translate(0%, -50%);
  background-color: rgba(255, 255, 255, 0.236);
  background-color: rgba(255, 255, 255, 0.036);
  width : 300px;
  height: 460px;
  display: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-style: none;
  border-width: 1px;
  filter: contrast(1.75);
  color: var(--main-text-color);
}

.help-anim {
  animation-name: help-appear;
  animation-duration: 0.4s;
}

@keyframes help-appear {
  0%   { left:-300px; }
  100% { left: 0px; }
}

table {
  margin: auto;
  margin-top: 10px;
  color: var(--main-text-color);
}

table th {
  font-size: 16px;
  padding: 10px;
  padding-bottom: 30px; 
}

table td {
  padding-left: 10px;
  height: 32px;
  font-size: 14px;
}

kbd {
  background-color: rgba(206, 206, 206, 0.418);
  color: grey; 
  color: var(--main-text-color);
  font-size: 12px;
  border-style: none;
  border-width: 1px;
  border-radius: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
}

/**************** history panel *****************/
#history {
  position: fixed;
  right: -0px;
  top: 50%;
  transform: translate(0%, -50%);
  background-color: rgba(255, 255, 255, 0.236);
  width : 300px;
  height: auto;
  display: none;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-style: none; 
  border-width: 1px;
  filter: contrast(1.75);
  color: grey;
}

.history-anim {
  animation-name: history-appear;
  animation-duration: 0.4s;
}

@keyframes history-appear {
  0%   { right:-300px; }
  100% { right: 0px; }
}

#history-header {
  width: 100%;
  height: 30px;
}

#history-clear-btn {
  background-image: url('./images/icon-trash.png');
  filter: contrast(0.4);
  background-size: 20px 18px;
  background-repeat: no-repeat;
  background-position: center center;
  height: 20px; 
  width: 20px; 
  padding-left: 31px;
  padding-top: 12px;
}

#history-entries div {
  padding : 10px;
  display: flex;
  font-size: 14px;
}

#history span {
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 4px;
  background-color: rgba(192, 192, 192, 0.418);
  border:1px solid rgba(208, 208, 208, 0.0);
}

#history span:hover {
  border-radius: 4px;
  border:1px solid rgba(208, 208, 208, 0.0);
  background-color: silver;
  background-color: var(--selected-item-color);
}

/**************** top menu button *****************/
#top-menu {
  display: flex;
}

.ck-button {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 70px;
  height: 22px;
  box-sizing: border-box;
  opacity: 0.4;
  overflow: auto;
  border:1px solid rgba(208, 208, 208, 0.0);
  border-top-style: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

#help-btn {
  background-image: url('./images/icon-keyboard.png');
  margin-left: 30px; 
  width: 40px; 
}

#history-btn {
  background-image: url('./images/icon-history.png');
  margin-left: 4px;
  width: 40px; 
}

.ck-button:hover {
  border-color: #DCE0E6;
  border-color: var(--selected-item-color);
}

.ck-btn-checked {
  border-color: #DCE0E6;
  background-color: #DCE0E6;
  background-color: var(--selected-item-color);
}
