body {
    height: 100%;
    display: flex;
    align-items: center;
    background-image: url("./images/test22.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    --main-text-color: rgb(52, 70, 71);
}

#background-opacity {
    position: fixed;
    z-index: -10;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(110, 150, 202, 0.212);
    background: radial-gradient(circle, rgba(131,58,180,0.2) 0%, rgba(253,29,29,0.2) 50%, rgba(252,176,69,0.2) 100%); 
    
    /* green blue */
    background-image: linear-gradient(to left bottom, #051937c4, #004d7ab0, #008793bd, #00bf73af, #a6eb12cb);

    /* plain color */
    /* background-image: linear-gradient(to right top, #d16ba5, #cf6fb1, #cb73be, #c678cb, #be7ed7, #d67dd2, #ec7dcb, #ff7ec2, #ff8997, #ffa96b, #ffd34e, #dafb5f); */

    /* Blue heaven */
    /* background: linear-gradient(35deg, rgba(29,87,196,0.819765406162465) 0%, rgba(182,242,255,0.8393732492997199) 20%, rgba(228,228,228,0.788953081232493) 100%); */
  }

#main-container {
  background-color: rgba(255, 255, 255, 0.636);
  margin: auto;
  width: 400px;
  height: 520px;
  border-radius: 4px;
  border-style: none; 
  border-width: 1px;
  border-color:rgb(32, 31, 31);
  box-shadow: 1px 1px 11px 1px rgba(56, 56, 56, 0.171);
}

#screen {
  background-color: rgba(245, 245, 245, 0.06);
  height: 85px;
  width: 85%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--main-text-color);

  border-radius: 1px;
  text-align: right;

  text-overflow: hidden;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

#secondary-output {
  padding-right: 12px;
  padding-left: 12px;  
  height: 40%;
  font-size: 17px;
  line-height: 30px;
  opacity: 0.7;
}

#main-output {
  padding-right: 12px;
  padding-left: 12px; 
  height: 60%; 
  font-size: 40px;
  line-height: 40px;
}

#keyboard {
  display: grid;
  grid-template-areas:  "AC undo percent op4"
                        "n7 n8 n9  op3" 
                        "n4 n5 n6  op2" 
                        "n1 n2 n3  op1"
                        "n0 n0 sep eq";
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr;  */
  grid-gap: 4px;
  box-sizing: border-box;
  height: 280px;
  width: 85%;
  margin: auto;
  border-width: 1px;
  border-color: grey;
}

.key { 
  background-color: rgba(220, 224, 230, 0.548);
  border-radius: 1px;
  text-align: center;
  line-height: 38px;
  font-size: 20px;
  border-style: none;
  border-color: rgb(54, 54, 54);
  color: var(--main-text-color);
  /* color:rgb(52, 70, 71); */
}

.key:active{
   background-color: rgba(233, 233, 233, 0.901);
}

.key:hover {
  color: black;
}

.operator-key {
}

.ac-key {
}
   
.c-key {
}

.key:hover {
  filter: brightness(1.02);
}

.key:focus {
   outline: none;
  }

.key:active {
  background-color: greenyellow;   
  background-color: #f0f0f0;
}

#credits {
  margin: auto;
  margin-top: 60px;
  text-align: center;
  font-size: 9.5px;
  color: rgb(97, 97, 97);
  opacity: 0.3;
}

#menu {
  border-style: solid;
  border-width: 1px;
  height: 
}

/**************** help button *****************/
#help {
  position: fixed;
  left: -5px;
  top: 50%;
  transform: translate(0%, -50%);
  background-color: rgba(255, 255, 255, 0.236);
  width : 300px;
  height: 430px;
  display: none;
  border-radius: 4px;
  border-style: none;
  border-width: 1px;
  filter: contrast(1.75);
  color: var(--main-text-color);
}

.help-anim {
  animation-name: help-appear;
  animation-duration: 0.4s;
}

@keyframes help-appear {
  0%   { left:-300px; }
  100% { left:-5px; }
}

.history-anim {
  animation-name: history-appear;
  animation-duration: 0.4s;
}

@keyframes history-appear {
  0%   { right:-300px; }
  100% { right:-5px; }
}

table {
  margin: auto;
  margin-top: 10px;
  color: var(--main-text-color);
}

table th {
  font-size: 16px;
  padding: 10px;
  padding-bottom: 30px; 
}

table td {
  padding-left: 10px;
  height: 32px;
  font-size: 14px;
}

kbd {
  background-color: rgba(206, 206, 206, 0.418);
  color: grey; 
  color: var(--main-text-color);
  font-size: 12px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--main-text-color);
  border-radius: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
}

/**************** history button *****************/
#history {
  position: fixed;
  right: -5px;
  top: 50%;
  transform: translate(0%, -50%);
  background-color: rgba(255, 255, 255, 0.236);
  width : 300px;
  height: auto;
  display: none;
  border-radius: 4px;
  border-style: none; 
  border-width: 1px;
  filter: contrast(1.75);
  color: grey;
}

#history span {
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 4px;
  background-color: rgba(192, 192, 192, 0.418);
  border:1px solid rgba(208, 208, 208, 0.0);
}

#history span:hover {
  border-radius: 4px;
  border:1px solid rgba(208, 208, 208, 0.0);
  background-color: blue;
  background-color: silver;
}

/**************** check button *****************/
#top-menu {
  display: flex;
}

.ck-button {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 70px;
  height: 22px;
  box-sizing: border-box;
  opacity: 0.4;
  overflow: auto;
  border:1px solid rgba(208, 208, 208, 0.0);
  border-top-style: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

#help-btn {
  background-image: url('./icon-keyboard.png');
  margin-left: 30px; 
  width: 40px; 
}

#history-btn {
  background-image: url('./icon-history.png');
  margin-left: 2px;
  width: 40px; 
}

.ck-button:hover {
  border-color: #DCE0E6;
}

.ck-btn-checked {
  border-color: #DCE0E6;
  background-color: #DCE0E6;
  filter: constrat(1000%);
}

/* History panel */
#history div {
  display: flex;
  padding : 10px;
}