body {
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(117,217,219,0.47522759103641454) 73%, rgba(219,249,255,1) 100%);
    /* background-color: rgb(245, 244, 244); */
}

#main-container {
  opacity: 0.8;
  background-color: white;
  margin: auto;
  width: 300px;
  height: 420px;
  border-radius: 14px;
   border-style: solid; 
  border-width: 1px;
  border-color:rgb(216, 216, 216);
  box-shadow: 1px 1px 11px 1px rgba(204,204,204,1); 
}

#screen {
  background-color: whitesmoke;
  height: 85px;
  width: 85%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 15px;
  color:grey;
  font-family: system-ui;

  border-radius: 6px;
  text-align: right;

  text-overflow: hidden;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

#secondary-output {
  padding-right: 12px;
  padding-left: 12px;  
  height: 40%;
  font-size: 12px;
  line-height: 30px;
  opacity: 0.7;
}

#main-output {
  padding-right: 12px;
  padding-left: 12px; 
  height: 60%; 
  font-size: 24px;
  line-height: 40px;
  /* letter-spacing: 1.2px; */
}

#keyboard {
  display: grid;
  grid-template-areas:  "AC undo percent op4"
                        "n7 n8 n9  op3" 
                        "n4 n5 n6  op2" 
                        "n1 n2 n3  op1"
                        "n0 n0 sep eq";
  grid-template-columns: repeat(4, 1fr);
 /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr; /*repeat(5, 1fr); */
  grid-gap: 4px;
  box-sizing: border-box;
  height: 280px;
  width: 85%;
  margin: auto;
  border-width: 1px;
  border-color: grey;
}

 .key {
   background-color: whitesmoke;
  border-radius: 5px;
  text-align: center;
  line-height: 38px;
  font-size: 20px;
  color: grey;

 }

  .operator-key {
    background-color: khaki;
  }

  .ac-key {
    background-color: rgb(255, 193, 174);
  }
   
  .c-key {
    background-color: white;
  }

.key:hover {
  filter: brightness(1.02);
}

 .key:focus {
   outline: none;
 }

.key:active {
  background-color: greenyellow;   
  background-color: #f0f0f0;
}

#credits {
  margin-top: 23px;
  margin-left: 180px;
  font-size: 9.5px;
  font-family: system-ui;
  /* opacity: 0.2; */
  opacity: 0.3;
}
